
.teacher-container {
  width: 100%;
  /*border: 1px solid #666666;*/
}

.add-button-container {
  /*border: 1px solid #666666;*/
  margin-bottom: 30px;
}

.teacher-item {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-left: 8px;
}

.teacher-cells-row-1,
.teacher-cells-row-2 {
  display: table-cell;
  padding-bottom: 10px;
  padding-right: 15px;
  /*width: 25%;*/
  /*border: 1px solid #ddd;*/
}

.teacher-cells-row-1 {
  padding-bottom: 20px;
}

.teacher-cell-2-row-2,
.teacher-cell-4-row-2 {
  text-align: center;
}

.teacher-order-number {
  width: 20px;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}

.first-item {
  margin-right: 16px;
}

.last-item {
  margin-left: 16px;
}

.mandatory {
  border: 1px solid #9d261d !important;
  background-color: #f2dede !important;
}

.item-label,
.item-space {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.item-space {
  display: block;
}

.teacher-pagination-inactive {
  display: none;
}

.teacher-pagination {
}

.teacher-pagination-browser {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.teacher-pagination-browser .current-page-number,
.teacher-pagination-browser .page-number {
  border: 1px solid #ddd;
}

.teacher-pagination-browser td {
  padding: 5px;
  margin: 5px;
}

div[class$='-odd'] {
  background-color: #f1f7ff;
}

div[class$='-even'] {
  background-color: #fff;
}

.clear-btn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-right: -1px !important;
}

.select-btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.selected-item-name {
  width: 300px;
}
